{% extends "layouts/main.html" %}

{% block pageTitle %}
 {{ serviceName }} – GOV.UK Prototype Kite
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Guidance</span>
      <h1 class="govuk-heading-l">
        Removing your personal information from the Companies House public register
      </h1>

      <p class="govuk-body-l">How to remove your personal details from public documents, or protect your identity from appearing on the Companies House public register.
      </p>

      <!--
      <p class="govuk-body-s govuk-!-margin-bottom-2">Contents</p>
      <ul class="govuk-list govuk-list govuk-!-margin-bottom-8">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link govuk-link--no-visited-state govuk-link--no-visited-state govuk-body-s govuk-link--no-underline" href="#content-1">– Removing personal information from public documents</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link govuk-link--no-visited-state govuk-body-s govuk-link--no-underline" href="#content-2">– Protecting your details on the public register</a>
        </li>
      </ul>
      -->

      <hr>
      <br>

      <p class="govuk-body">Most <a href="https://www.gov.uk/guidance/your-personal-information-on-the-public-record-at-companies-house">information registered at Companies House</a> 
        is available to the public.
      </p> 

      <!--
      <p class="govuk-body">Other personal details, such as your home address and full date of birth, are not published on the Companies House register.</a> This information is only shared with:</p> 

      <ul class="govuk-list govuk-list--bullet">
        <li>credit reference agencies (CRAs)</li>
        <li>specified public authorities (SPAs) such as the police</li>
      </ul>
      -->
      
      <p class="govuk-body">Your home address will only be shown on the public 
        register if you have used it as your correspondence address, or as a 
        company's registered office address.
      </p> 

      <p class="govuk-body">Other personal details, such as your full date of birth, 
        may be included on historical documents on the public register.
      </p> 

      <h2 id="content-1" class="govuk-heading-m">Removing personal information from public documents</h2>

      <p class="govuk-body">You can ask Companies House to remove some personal 
        details from previously filed documents on the public register. This includes your:
      </p> 
  
      <ul class="govuk-list govuk-list--bullet">
        <li>home address</li>
        <li>signature</li>
        <li>full date of birth (we'll still show your month and year of birth, but the day will be removed)</li>
        <li>business occupation</li>
      </ul>

      <p class="govuk-body">You'll need to know which documents contain these personal details. 
        You can check this by finding the company on the 
        <a href="https://find-and-update.company-information.service.gov.uk/">Companies House register</a> 
        and searching its filing history.
      </p> 

      <p class="govuk-body">If your home address is being used as a company's 
        current registered office address, you need to submit a filing to 
        <a href="https://www.gov.uk/government/publications/change-a-registered-office-address-ad01">update the registered office address</a> 
        before you can apply for it to be removed from historical documents.
      </p> 

      <p class="govuk-body grey-box"><b><a class="govuk-link govuk-link--no-visited-state" href="start">
        Apply to remove personal details from Companies House public documents</a></b>
      </p>

      <h2 id="content-2" class="govuk-heading-m">Protecting your details on the public register</h2>
      
      <p class="govuk-body">If you're at serious risk of violence or intimidation, you can apply 
        to protect your details from appearing on the public register.
      </p>
        
      <p class="govuk-body">Protecting your details means:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>none of your information will be shown on the public register</li>
        <li>we will not provide your home address to credit reference agencies</li>
      </ul>

      <p class="govuk-body">You can apply for protection if you (or someone living with you) are at 
        personal risk, or if you're at risk because of your connection to a company or limited liability partnership (LLP).
      </p>

      <p class="govuk-body">You'll need to be able to prove that you are at serious 
        risk of violence or intimidation. If possible, you should provide evidence to 
        support your application.
      </p> 

      <p class="govuk-body grey-box"><b><a class=" govuk-link--no-visited-state" href="https://www.gov.uk/guidance/applying-to-protect-your-personal-information-on-the-companies-house-register">
        Read the full guidance on applying to protect your details</a></b>
      </p>

      <hr>
      <br>

      <h3 class="govuk-heading-s">If a company has used your personal information without your permission</h2>
      
      <p class="govuk-body">
        You need to <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/guidance/report-a-company-using-your-personal-details-without-your-permission">
        report if a company has given your personal details to Companies House without your permission</a>. 
        This includes if a company has used your name or address. 
      </p>

      <p class="govuk-body">We can usually remove your information from the Companies House 
        register if there’s enough evidence to support your case.   
      </p>
        
    </div>
  </div>
{% endblock %}
