{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter card details  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <form action="{{currentUrl}}" method="post">
      <h1 class="govuk-heading-l">Enter card details </h1>

      <div class="grey-box">
        <h2 class="govuk-heading-m">Payment summary</h2>

        <p class="govuk-body">Application to remove personal details from 1 Companies House public document</p>
        <ul class="govuk-list">
          <li>Total amount:</li>
          <li><h2 class="govuk-heading-l">£xx.xx</h2></li>
        </ul>
      </div>

      <div class="govuk-form-group govuk-!-margin-top-5 govuk-!-margin-bottom-0">
        <label class="govuk-label govuk-!-width-two-thirds govuk-!-font-weight-bold" for="card-number">
          Card Number
        </label>
        <img src="/../../public/images/pay-icons.png" width="435">
        <input class="govuk-input govuk-!-width-two-thirds" id="card-number" name="card-number" type="text" value="1234 5678 9101 1213">
      </div>

      <div class="govuk-form-group govuk-!-margin-top-3">
        <fieldset class="govuk-fieldset" role="group">
          <label class="govuk-label govuk-!-width-two-thirds govuk-!-font-weight-bold" for="expiryMonth">
            Expiry date
          </label>
          <span class="govuk-hint">For example, 10/20</span>
          <div class="govuk-date-input" id="expiry-date">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expiryMonth" name="expiryMonth" type="number" pattern="[0-9]*" value="1">
              </div>
            </div>
            
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="expiryYear">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="expiryYear" name="expiryYear" type="number" pattern="[0-9]*" value="2026">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-!-width-two-thirds govuk-!-font-weight-bold" for="cardName">
          Name on card
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="cardName" name="cardName" type="text" value="{{ data['fullName']}} ">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-!-width-one-third govuk-!-font-weight-bold" for="cvc">
          Card security code
        </label>
        <div id="cvc-hint" class="govuk-hint">
          The last 3 digits on the back of the card
        </div>
        <input class="govuk-input govuk-input--width-3" id="cvc" name="cvc" type="text" value="123">
        <img src="/../../../public/images/security-code.png" height="40" width="65">
      </div>

      <hr>

      <div class="clear govuk-form-group">
        <h2 class="govuk-heading-m govuk-!-padding-top-5">Billing address</h2>
        <span class="govuk-hint">
          This is the address associated with the card
        </span>
        <label class="govuk-label govuk-!-margin-top-5" for="address1">
          Address line 1
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="address1" name="address1" type="text" value="20 New Street">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label"for="address2" >
          Address line 2 (optional)
        </label>
        <input class="govuk-input govuk-!-width-two-thirds govuk-!-margin-bottom-2" id="address2" name="address2" type="text" value="Parkland">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="addressTownCity">
          Town or city
        </label>
        <input class="govuk-input govuk-!-width-one-third" id="addressTownCity" name="addressTownCity" type="text" value="Townville">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="addressCountry">
          Country or territory
        </label>
        <input class="govuk-input govuk-!-width-one-half" id="addressCountry" name="addressCountry" type="text" value="England">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="addressPostcode">
          Postcode
        </label>
        <input class="govuk-input govuk-!-width-one-quarter" id="addressPostcode" name="addressPostcode" type="text" value="XX3 WW8">
      </div>

      <hr>

      <div class="clear govuk-form-group">
        <h2 class="govuk-heading-m govuk-!-padding-top-5">Contact details</h2>
        <span class="govuk-hint">
          We’ll send your payment confirmation here
        </span>
        <label class="govuk-label govuk-!-margin-top-5" for="payEmail">
          Email
        </label>
        <input class="govuk-input govuk-!-width-two-thirds" id="payEmail" name="payEmail" type="text" value="{{ data['contactEmail'] }}">
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

      <div>
        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Cancel payment
        </button>
      </div>

    </form>
  </div>
</div>


{% endblock %}