{% extends "layouts/main.html" %}

{% block pageTitle %}
  What is the company number? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">The address must be updated before you can continue with this service</h1>

      <p class="govuk-body">You cannot remove a current company address without providing a replacement.</p>

      <p class="govuk-body">Someone that can file for the company must <a href="https://www.gov.uk/government/publications/change-a-registered-office-address-ad01" class="govuk-link govuk-link--no-visited-state" target="_blank">update the company address (opens in a new tab)</a>. You'll need to wait for us to process and accept the update before you return to this service.</p>

      

  
    </div>
  </div>
{% endblock %}
