{% extends "layouts/main.html" %}

{% block pageTitle %}
  Application submitted  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Application submitted 
      </h1>
      <div class="govuk-panel__body">
        Your reference number<br><strong>HDJ2123F</strong>
      </div>
    </div>

    <p class="govuk-body">We've sent a confirmation email to <strong>{{ data['contactEmail'] }}</strong>.</p>

    <p class="govuk-body">We'll email you within X weeks to let you know if your application has been accepted or rejected, or if we need more information. 


  </div>
</div>

{% endblock %}
