{% extends "layouts/main.html" %}

{% block pageTitle %}
  Applicant status
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorAddressType %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}

    <form action="{{currentUrl}}" method="post">

      <!-- Check for error -->
      {% if errorAddressType %}
      <div class="govuk-form-group govuk-form-group--error">
      {% else %}
      <div class="govuk-form-group">
      {% endif %} 
        <fieldset class="govuk-fieldset" aria-describedby="addressType-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Where does your home address appear on the public register?
            </h1>
          </legend>
          <!-- Check for error -->
          {% if errorAddressType %}
          <p id="countries-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select what the address is being used as
          </p>
          {% endif %}


          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="addressType" name="addressType" type="checkbox" value="correspondence">
              <label class="govuk-label govuk-checkboxes__label" for="addressType">
                As a correspondence address
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="addressType-2" name="addressType" type="checkbox" value="roa">
              <label class="govuk-label govuk-checkboxes__label" for="addressType-2">
                As a registered office address
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          If the home address is still being used as the registered office address, you'll need to change it before continuing with this service.
        </strong>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}