{% extends "layouts/main.html" %}

{% block pageTitle %}
  Applicant details
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorApplicantDetails %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}
    <h1 class="govuk-heading-l">Applicant's details</h1>
    <div id="H1-hint" class="govuk-hint">
      Tell us the details of the person who wants to remove their personal information from the Companies House public register.
  </div>

    <form action="{{currentUrl}}" method="post">

      <div class="govuk-form-group">
        <label class="govuk-label" for="directorTitle">
          Title (optional)
        </label>
        <div id="directorTitle-hint" class="govuk-hint">
          For example, Mr, Mrs, Miss, Ms, Dr.
      </div>
        <input class="govuk-input govuk-!-width-one-half" id="directorTitle" name="directorTitle" type="text" value="{{ data['directorTitle'] }}">
    </div>

      <!-- Check for error -->
      {% if errorFirstName %}
        <div class="govuk-form-group govuk-form-group--error">
      {% else %}
        <div class="govuk-form-group">
      {% endif %} 
          <label class="govuk-label" for="firstName">
            First name
          </label>
          <div id="firstName-hint" class="govuk-hint">
            Enter first name in full, not just initials.
        </div>
          <!-- Check for error -->
        {% if errorFirstName %}
          <p id="firstName-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter your full first name
          </p>
        {% endif %} 
          <input class="govuk-input govuk-!-width-one-half" id="firstName" name="firstName" type="text" value="{{ data['firstName'] }}">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="middleName">
          Middle names
        </label>
        <div id="middleName-hint" class="govuk-hint">
          Enter any middle names in full, not just initials.
        </div>
          <input class="govuk-input govuk-!-width-one-half" id="middleName" name="middleName" type="text" value="{{ data['middleName'] }}">
      </div>

      <!-- Check for error -->
      {% if errorLastName %}
        <div class="govuk-form-group govuk-form-group--error">
      {% else %}
        <div class="govuk-form-group">
      {% endif %} 
          <label class="govuk-label" for="lastName">
            Last name
          </label>
          <div id="lastName-hint" class="govuk-hint">
            Enter last name in full, not just initials.
          </div>
          <!-- Check for error -->
        {% if errorLastName %}
          <p id="lastName-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter your full last name
          </p>
        {% endif %} 
          <input class="govuk-input govuk-!-width-one-half" id="lastName" name="lastName" type="text" value="{{ data['lastName'] }}">
      </div>


      <!-- Check for error -->
      {% if errorDobDay or errorDobMonth or errorDobYear%}
      <div class="govuk-form-group govuk-form-group--error">
      {% else %}
      <div class="govuk-form-group">
      {% endif %} 
        <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
          <label class="govuk-label" for="dob">
            Date of birth
          </label>
          <div id="dob-hint" class="govuk-hint">
            For example, 31 3 1980
          </div>
          <!-- Check for error -->
          {% if errorDobDay or errorDobMonth or errorDobYear %}
          <p id="dob-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> The date must include a day, month and year
          </p>
          {% endif %} 
          <div class="govuk-date-input" id="directorDob">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dob-day">
                  Day
                </label>
                <!-- Check for error -->
                {% if errorDobDay %}
                <input class="govuk-input govuk-date-input__input govuk-input--width-2 govuk-input--error" id="dob-day" name="dob-day" type="text" value="{{ data['dob-day'] }}">
                {% else %}
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day" type="text">
                {% endif %} 
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dob-month">
                  Month
                </label>
                <!-- Check for error -->
                {% if errorDobMonth %}
                <input class="govuk-input govuk-date-input__input govuk-input--width-2 govuk-input--error" id="dob-month" name="dob-month" type="text" value="{{ data['dob-month'] }}">
                {% else %}
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month" type="text">
                {% endif %} 
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dob-year">
                  Year
                </label>
                <!-- Check for error -->
                {% if errorDobYear %}
                <input class="govuk-input govuk-date-input__input govuk-input--width-4 govuk-input--error" id="dob-year" name="dob-year" type="text" value="{{ data['dob-year'] }}">
                {% else %}
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year" type="text">
                {% endif %} 
              </div>
            </div>
          </div>
        </fieldset>
      </div>


      <!-- Check for error -->
      {% if errorEmail %}
        <div class="govuk-form-group govuk-form-group--error">
      {% else %}
        <div class="govuk-form-group">
      {% endif %} 
          <label class="govuk-label" for="applicantEmailAddress">
            Email address
          </label>
          
          <!-- Check for error -->
        {% if errorEmail %}
          <p id="applicantEmailAddress-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Enter your email address
          </p>
        {% endif %} 
          <input class="govuk-input" id="applicantEmailAddress" name="applicantEmailAddress" type="text" value="{{ data['applicantEmailAddress'] }}">
      </div>



      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}