{% extends "layouts/main.html" %}

{% block pageTitle %}
 {{ serviceName }} – GOV.UK Prototype Kite
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Guidance</span>
      <h1 class="govuk-heading-l">
        Removing your personal information from the Companies House public register
      </h1>

      <p class="govuk-body-l">How to remove your personal details or protect your identity from appearing on the Companies House public register
      </p>

      <p class="govuk-body-s govuk-!-margin-bottom-2">Contents</p>
      <ul class="govuk-list govuk-list govuk-!-margin-bottom-8">
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link govuk-link--no-visited-state govuk-link--no-visited-state govuk-body-s govuk-link--no-underline" href="#content-1">– Removing personal information from the public register</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link govuk-link--no-visited-state govuk-body-s govuk-link--no-underline" href="#content-2">– Protecting your identity on the public register</a>
        </li>
        <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
          <a class="govuk-link govuk-link--no-visited-state govuk-body-s govuk-link--no-underline" href="#content-3">– Reporting that a company has used your personal information without your permission</a>
        </li>
      </ul>

      <hr>
      <br>


      <p class="govuk-body">Most <a href="https://www.gov.uk/guidance/your-personal-information-on-the-public-record-at-companies-house">information registered at Companies House</a> is available to the public.
      </p> 
      <p class="govuk-body">Other personal details, such as your home address and full date of birth, are not published on the Companies House register.</a> This information is only shared with:</p> 

      <ul class="govuk-list govuk-list--bullet">
        <li>credit reference agencies (CRAs)</li>
        <li>specified public authorities (SPAs) such as the police</li>
      </ul>

      <p class="govuk-body">Your home address will only be shown on the public register if you have used it as your correspondence address, or as a company's registered office address.</a></p> 



      <h2 id="content-1" class="govuk-heading-m">Removing personal information from public documents</h2>

      <p class="govuk-body">If you've used your home address as your correspondence address, or as a company's registered office address, you can ask Companies House to remove it from publicly available documents on the register. 
      </p> 
  
      <p class="govuk-body">You'll need to know which documents contain your home address. Check this by finding your company on the <a href="https://find-and-update.company-information.service.gov.uk/">Companies House register</a>.</p> 

      <p class="govuk-body">If your home address is currently being used as the company's registered office address, you'll need to submit a filing to <a href="https://www.gov.uk/government/publications/change-a-registered-office-address-ad01">update the registered office address</a> we hold on the public register first.</p> 

    <p class="govuk-body grey-box"><b><a class="govuk-link govuk-link--no-visited-state" href="start">
      Apply to remove your personal details from Companies House public documents</a></b>
    </p>



      <h2 id="content-2" class="govuk-heading-m">Protecting your details on the public register</h2>
      
      <p class="govuk-body">If you're at serious risk of violence or intimidation, you can apply to protect your details from appearing on the public register.</p>
        
      <p class="govuk-body">Protecting your details means:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>none of your information will be shown on the public register</li>
        <li>we will not provide your home address to CRAs</li>
      </ul>

      <p class="govuk-body">You can apply for protection if you (or someone living with you) are at personal risk, or if you're at risk because of your connection to a company or LLP.</p>

      <p class="govuk-body">You'll need to be able to prove that you are at serious risk of violence or intimidation. If possible, you should provide evidence to support your application.</p> 

    <p class="govuk-body grey-box"><b><a class=" govuk-link--no-visited-state" href="https://www.gov.uk/guidance/applying-to-protect-your-personal-information-on-the-companies-house-register">
      Read the full guidance on applying to protect your details</a></b>
    </p>


      <h2 id="content-3" class="govuk-heading-m">Reporting that a company has used your personal information without your permission</h2>
      
      <p class="govuk-body">
        If a company has given your personal details to Companies House without your permission, you need to let us know. This includes is a company has used your name or address. 
        
      <p class="govuk-body">We can usually remove your information from the Companies House register if there’s enough evidence to support your case.   
      </p>
        
    <p class="govuk-body grey-box"><b><a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/guidance/report-a-company-using-your-personal-details-without-your-permission">
      Find out how to report a company using your personal details without your permission</a></b>
    </p>




    </div>
  </div>
{% endblock %}
