{% extends "layouts/main.html" %}

{% block pageTitle %}
  Is the address the ROA
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorAddressRoa %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}

    <form action="{{currentUrl}}" method="post">

      <!-- Check for error -->
      {% if errorAddressRoa %}
      <div class="govuk-form-group govuk-form-group--error">
      {% else %}
      <div class="govuk-form-group">
      {% endif %} 
        <fieldset class="govuk-fieldset" aria-describedby="addressRoa-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Is the address you want to hide the Registered Office Address for BIG SHOPT LTD?
            </h1>
          </legend>
          <div id="addressRoa-hint" class="govuk-hint">
            ...
          </div>
          <!-- Check for error -->
          {% if errorAddressRoa %}
          <p id="addressRoa-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select if the address is the Registered Office Address
          </p>
          {% endif %} 

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="addressRoa" name="addressRoa" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="addressRoa">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="addressRoa-2" name="addressRoa" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="addressRoa-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What is the Registered office address?
          </span>
        </summary>
        <div class="govuk-details__text">
          ...
        </div>
      </details>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>
  </div>
</div>

{% endblock %}