{% extends "layouts/main.html" %}

{% block pageTitle %}
  What is the address
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- Check for error -->
    {% if errorReplacementPostcode %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}

    <h1 class="govuk-heading-l">What is the replacement correspondence address?</h1>

        <div id="event-name-hint" class="govuk-hint">We'll use this to update your address under the people tab on the company's public record, and in any future filings.</div>

    <p class="govuk-body"><a href="#" class="govuk-link"></a></p>

    <form action="{{currentUrl}}" method="post">

      <!-- Check for error -->
      {% if errorReplacementPostcode %}
        <div class="govuk-form-group govuk-form-group--error">
      {% else %}
        <div class="govuk-form-group">
      {% endif %} 
      <label class="govuk-label" for="postcode">
        UK postcode
      </label>
        <!-- Check for error -->
        {% if errorReplacementPostcode %}
        <p id="replacementPostcode-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> Enter the postcode of the replacement address
        </p>
        {% endif %} 
        <input class="govuk-input govuk-input--width-10" id="replacementPostcode" name="replacementPostcode" type="text">
      </div>  

      <div class="govuk-form-group">
        <label class="govuk-label" for="propertyName">
          Property name or number (optional)
        </label>
        <div id="event-name-hint" class="govuk-hint">
          For example, 'The Mill', '116' or 'Flat 37a'
        </div>
        <input class="govuk-input govuk-input--width-5" id="propertyName" name="propertyName" type="text">
      </div>

      <p class="govuk-body"><a href="#" class="govuk-link">Enter address manually</a></p>
      
      {{ govukButton({
        text: "Find address"
      }) }}

    </form>
  </div>
</div>

{% endblock %}