{% extends "layouts/main.html" %}

{% block pageTitle %}
 {{ serviceName }} – GOV.UK Prototype Kite
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Apply to remove your personal details from the Companies House register</h1>

      <p class="govuk-body">If you've used your home address as your correspondence address, or as a company's registered office address, you can ask Companies House to remove it from publicly available documents on the register.
      </p>

      <p class="govuk-body">You'll need to know which documents contain your home address. Check this by finding your company on the <a href="https://find-and-update.company-information.service.gov.uk/">Companies House register</a>.</p> 

      <p class="govuk-body">If your home address is currently being used as the company's registered office address, you'll need to submit a filing to <a href="https://www.gov.uk/government/publications/change-a-registered-office-address-ad01">update the registered office address</a> we hold on the public register first.</p> 

      <h2 class="govuk-heading-m">Lorem ipsum dolor sit amet</h2>

      <p class="govuk-body">Lorem ipsum dolor sit amet, 
        consectetur adipiscing elit, sed do eiusmod tempor 
        incididunt ut labore et dolore magna aliqua. Ut enim 
        ad minim veniam, quis nostrud exercitation ullamco 
        laboris nisi ut aliquip ex ea commodo consequat.
      </p>

      <h2 class="govuk-heading-m">Lorem ipsum dolor sit amet</h2>

      <p class="govuk-body">Ut enim 
        ad minim veniam, quis nostrud exercitation ullamco 
        laboris nisi ut aliquip ex ea commodo consequat</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Lorem ipsum dolor</li>
        <li>consectetur adipiscing elit</li>
        <li>sed do eiusmod tempor incididunt</li>
      </ul>

      <p class="govuk-body">Lorem ipsum dolor sit amet, 
        consectetur adipiscing elit, sed do eiusmod tempor 
        incididunt ut labore et dolore magna aliqua. Ut enim 
        ad minim veniam, quis nostrud exercitation ullamco 
        laboris nisi ut aliquip ex ea commodo consequat.
      </p>

      {{ govukButton({
        text: "Start",
        href: "sign-in",
        isStartButton: true
      }) }}

    </div>
  </div>
{% endblock %}
