{% extends "layouts/main.html" %}

{% block pageTitle %}
  What is the company number? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">You must update the registered office address before continuing with this service</h1>

      <p class="govuk-body">This is because you cannot remove the current registered office address of an active company without providing a replacement.</p>

      <p class="govuk-body">You must <a href="https://www.gov.uk/government/publications/change-a-registered-office-address-ad01" class="govuk-link govuk-link--no-visited-state" target="_blank">update the registered office address</a>, and then wait for the update filing to be accepted before you return to this service.</p>

      

  
    </div>
  </div>
{% endblock %}
