{% extends "layouts/main.html" %}

{% block pageTitle %}
  What is the company number? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/account-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- Check for error -->
      {% if errorNeedReplacementAddress %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
      {% endif %}

      <form action="{{currentUrl}}" method="post">

        <!-- Check for error -->
      <!-- Check for error -->
      {% if errorNeedReplacementAddress %}
      <div class="govuk-form-group govuk-form-group--error">
      {% else %}
      <div class="govuk-form-group">
      {% endif %} 
        <fieldset class="govuk-fieldset" aria-describedby="needReplacementAddress-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
            Do you need to provide a replacement correspondence address?
            </h1>
          </legend>
          <div id="needReplacementAddress-hint" class="govuk-hint">
            You only need to provide a replacement if the applicant's home address is being used as their current correspondence address on the public register. 
          </div>
          <!-- Check for error -->
          {% if errorNeedReplacementAddress %}
          <p id="needReplacementAddress-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select yes if you need to add a replacement address
          </p>
          {% endif %} 

          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="needReplacementAddress" name="needReplacementAddress" type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="needReplacementAddress">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="needReplacementAddress-2" name="needReplacementAddress" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="needReplacementAddress-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          If the home address is being used as the company's current registered office address, you must <a href="https://www.gov.uk/government/publications/change-a-registered-office-address-ad01" class="govuk-link govuk-link--no-visited-state" target="_blank">update the registered office address (opens in a new tab)</a> before continuing with this service.
        </strong>
      </div>

<!--
        <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      If you're applying to remove a company's current registered office address
    </span>
  </summary>
  <div class="govuk-details__text">
    If the home address is being used as the company's current registered office address, you must <a href="https://www.gov.uk/government/publications/change-a-registered-office-address-ad01">update the registered office address</a> before you can apply for it to be removed from historical documents. 
  </div>
</details>
-->
              
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
