{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirm your payment  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Confirm your payment</h1>

    <div class="grey-box">
      <h2 class="govuk-heading-m">Payment summary</h2>

      <p class="govuk-body">Application to remove personal details from 1 Companies House public document</p>
      <ul class="govuk-list">
        <li>Total amount:</li>
        <li><h2 class="govuk-heading-l">£xx.xx</h2></li>
      </ul>
    </div>

    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-!-font-weight-regular govuk-!-padding-bottom-3 govuk-!-padding-top-3 govuk-!-width-one-third">Card number:</th>
          <td class="govuk-table__cell govuk-!-font-weight-bold">*********** 1213 </td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-!-font-weight-regular govuk-!-padding-bottom-3 govuk-!-padding-top-3 govuk-!-width-one-third">Expiry date:</th>
          <td class="govuk-table__cell govuk-!-font-weight-bold">1/26</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-!-font-weight-regular govuk-!-padding-bottom-3 govuk-!-padding-top-3 govuk-!-width-one-third">Name on card:</th>
          <td class="govuk-table__cell govuk-!-font-weight-bold">{{ data['fullName']}} </td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header govuk-!-font-weight-regular govuk-!-padding-bottom-3 govuk-!-padding-top-3 govuk-!-width-one-third">Billing address:</th>
          <td class="govuk-table__cell govuk-!-font-weight-bold">20 New Street, Parkland, Townville, England, XX3 WW8</td>
        </tr>
      </tbody>
    </table>

    <form action="{{currentUrl}}" method="post">
      <button type="submit" class="govuk-button">
        Confirm payment
    </button>
    </form>

    <div>
      <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Cancel payment
      </button>
    </div>
  </div>
</div>


{% endblock %}